/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of CSS reset*/
/*Global styles begin*/
body{background:#ffffff;color:#333; font-family:'Josefin Sans','Open Sans','Arial','Helvetica','Roboto',sans-serif;}
div{box-sizing:border-box;}
/*Global styles end*/
/*Typo begin*/
div.rtf{}
div.rtf p {color:#ffffff;font-size:1em;   line-height:1.5em; margin-bottom:0.5em;}
div.rtf p2 {color:#000;font-size:1em;   line-height:1.5em; margin-bottom:0.5em;}
div.rtf h1{font-size:3em;   line-height:1.5em; margin-bottom:0.5em; margin-top:0.8em;}
div.rtf h2{color:#000; font-style: italic; font-size:2.4em; line-height:1.5em; margin-bottom:0em; margin-top:0.8em;}
div.rtf h3{font-size:1.8em; line-height:1.5em; margin-bottom:0.5em; margin-top:0.8em;}
div.rtf h4{font-size:1.2em; line-height:1.5em; margin-bottom:0.5em; margin-top:0.8em;}
div.rtf h5{font-family:'Bebas Neue'; font-size:15em; line-height:.85em; margin-bottom:0.3em; margin-top:0.8em;margin-left:0.5em;margin-right:0.3em;}
div.rtf h6{font-size:8em; line-height:1.5em; margin-bottom:0.5em; margin-top:0.8em;}
/*Typo end*/

/*header styles*/
header{position:fixed; top:0; left:0; right:0; display:grid;
	grid-template-columns: 60px 1fr 1fr; grid-gap:20px; background:#6E9DBF; color:#fff;
	z-index:10000;
}
header img{width:30px; margin:1em; align-self:center; justify-self:end;}
header p{font-size:1.2em; align-self:center; justify-self:start;}
header a.mail{text-decoration:none; align-self:center; justify-self:end; color:#fff;
	margin:0 20px;
}


/*Cards styles begin*/
div.cards{max-width:1200px;margin:0 auto; padding:3vw;
	grid-gap: 3vw; display:grid; grid-template-columns: repeat(auto-fill,minmax(200px,1fr));}

div.card img{width:100%;}

div.txt {text-align:center;font-size:.80em}
/*Cards styles end*/

/*Image and text styles begin*/
div.img_txt{max-width:1200px;margin:0 auto; display:grid; grid-template-columns: 3fr 1fr; grid-gap:3vw; padding:3vw; color:ffffff}
div.img_txt img{width:100%; margin-bottom;3vw;}
div.img_txt div.rtf{align-self:center;}
div.img_txt.dark{background:#000}

@media screen AND (orientation: portrait)
{
	div.img_txt{grid-template-columns: 1fr;}
	div.img_txt div.txt{grid-row-start: 1;}
}
/*Image and text styles end*/
/*Hero image styles begin*/
div.hero{min-height:100vh; position: relative; background-color: #ffffff;}
img.hero-img{width:100%; display:block; position:absolute; top:0; left:0; right:0; bottom:0;object-fit: cover;}
div.hero div.hero-txt{position:absolute;; top:50%; left:50%; top:35%; left:35%; transform:translate(-50%,-50%);font-size:15em; text-align:left; -webkit-background-clip:text; -webkit-text-fill-color: transparent;background-image: url(bubbles.jpg); font-weight: 900;font-family:'Poppins', sans-serif; text-transform: uppercase;text-shadow: 0px 0px 5px #FFFFFF1c;}
div.hero div.hero-txt{margin:0}
div.hero div.hero-txt-sub{position:absolute; top:50%; left:50%; top:80%; left:40%; transform:translate(-50%,-50%);font-weight:700 ;font-size:9em; text-align:right; -webkit-background-clip:text; -webkit-text-fill-color: transparent;background-image: url(bubbles.jpg); font-family:'Poppins', sans-serif; text-transform: uppercase;text-shadow: 0px 0px 5px #FFFFFF1c;}
/*Hero image styles end*/
div.cat{font-size:8em; line-height:1.5em; margin-bottom:0em; margin-top:0.8em; text-align:left; margin-left:1em; font-family: 'Poppins', sans-serif; color:#01485A; font-weight: 900;}
div.sub{font-size:2em; line-height:0em; margin-bottom:0.5em; margin-top:0em; text-align:left; margin-left:4.5em; font-family: 'Poppins', sans-serif;font-weight: 300;}

div.dark{background-color: #000;}

}
